@page 

@using Westwind.Utilities

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1" />

    <title>About Anti-Trust - Guilty</title>
    <meta http-equiv="keywords" content="Anti-Trust,Guilty,Punk,Hardcore,Metal,Rock,Maui,Hawaii,Oakland,SF,Attitude,Attitude Adjustment,Rick Strahl,Chris Kontos,Andy Andersen,Andy Andersen, Airborn" />
    <meta http-equiv="description" content="Anti-Trust - Guilty. Garage Punk Rock from Maui and Oakland with former members from Attitude Adjustment and Attitude." />
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png" />
   
    <meta property="og:title" content="About Anti-Trust 'Guilty" />
    <meta property="og:description" content="Information about the making of the Anti-Trust 'Guilty' album featuring former members of Attitude Adjustment Rick Strahl, Chris Kontos and Andy Andersen." />    
    <meta property="og:music:album" content="Guilty" />
    <meta property="og:music:musician" content="Anti-Trust (Punk Rock Music)" />
    <meta property="og:url" content="https://anti-trust.rocks/about" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- 
        1200 x 628 or 1200x1200 
        https://cards-dev.twitter.com/validator
        https://developers.facebook.com/tools/debug/
    -->
    <meta property="og:image" content="https://anti-trust.rocks/Guilty-Cover-Rectangle-Card.png" />

    <link rel="stylesheet" href="/album.css?v1.1.2" />
    <link rel="stylesheet" href="/song.css?v1.1" />
    <script src="https://kit.fontawesome.com/003736a39d.js" crossorigin="anonymous"></script>
    <style>
        .info {
            font-size: 2.7vmin;
            font-weight: 300;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #eee;
        }
    </style>
</head>
<body>
    <div class="toolbarcontainer">
        <a href="../" class="hoverbutton"><i class="fas fa-play text-green" style="color: green"></i> Songs</a>         
        <a href="https://github.com/RickStrahl/anti-trust-guilty-album" class="hoverbutton" title="Download album or songs for free"><i class="fas fa-cloud-download-alt" style="color: lightgray"></i> Download</a> 
        <a href="/stream" class="hoverbutton" title="Listen or buy on Spotify, Amazon, Apple Music or YouTube"><i class="fas fa-cloud-music"  style="color: steelblue"></i> Stream</a> 
        <a href="https://store.west-wind.com/product/ANTITRUST_GUILTY_CD" class="hoverbutton" title="Buy a physical CD you can hold in your hand"><i class="fas fa-compact-disc" style="color: goldenrod"></i> Buy CD</a>         
        <a href="/t-shirt/readme.md" class="hoverbutton hidden-sm" title="Make your own T-shirts or buy one from us"><i class="fas fa-tshirt" style="color: darkgoldenrod"></i> T-Shirt</a>      
    </div>
    
    <div class="page-container"></div>


    <style>
        .info a {
            color: steelblue;
            font-weight: 600;
        }
    </style>
    <div class="container" id="Body">            
    
        <div style="margin: 50vmin auto; background: transparent;">   

            <div class="song-title">About Anti-Trust</div>
            <article class="info" style="margin-bottom: 5em;">
            <markdown>
Anti-Trust is a side project of former **Attitude Adjustment** member **Rick Strahl**, with guest appearances of fellow former band mates **Chris Kontos** on Drums and shared vocals, and **Andy Andersen** who wrote lyrics for two songs, sings on one of them and does backups on two more.

The recording of the **Guilty** album was scattered over a couple of decades, off and on in different stages:

* Original demo/songwriting sessions in 2000 (Rick)
* Original Recording Sessions in 2001 in Oakland (Rick & Chris)
* Follow up Recording Sessions in Hawaii (Rick & Chris)
* Additional Songs Recorded in 2011 (Rick)
* Complete re-mix re-recording of Guitars/Bass in 2015 (Rick)
* Additional Songs and complete re-mix of existing music in 2020 & 2021 (Rick & Andy)
* Official Album Release in July 2021

<div class="song-title" style="font-size: 5vmin">Original Sessions</div>
This project started as a skunk works, garage recorded set of tracks recorded in early 2000 by Rick (me) in my home studio in Hawaii. The original tracks were extremely rough and only served as a blue prints for the eventual live recording the following year. 

In the summer of 2001 Chris and I got together in Oakland to record the original 5 tracks. The two day session involved arranging of the original rough tracks and recording the drums. The sessions were very productive and the original rough tracks morphed beautifully into the original five tracks that Chris plays on. Most tracks were single take, first try recordings and Chris captures a very laid back groovy Punk Rock sound with his drums that set the foundation not only for these five songs but also for music to follow later.

All of the tracks were recorded live with a minimal recording setup which captured the garage feel perfectly. Chris's laid back drum playing was a perfect match to these songs that mixed a bit of melody and harmonies with the hardcore punk rock and metal cross-over styles more familiar to us. 

After the initial session had been recorded I went back to Hawaii and laid down the music on top of the drums, recording guitars, bass, most of the vocals and backups. Early the following year in 2002, Chris came to Hawaii to visit and during that time we re-recorded all of the vocals. Chris ended up singing lead vocals on **Sick Inside** which is a standout of 'Guilty'. He also left his vocal mark on **I am You** in which we both take turns singing lead.

At the time, two songs **Guilty as Charged** and **Realities of Violence** did not have lyrics yet. After Chris left Hawaii, I ended up writing the lyrics for **Guilty as Charged** and recorded those. **Realities of Violence** continued to just sit without lyrics.

Out of these early sessions came the original unreleased demo of **Guilty**. It never saw the light of day and the project sat silently... for a long time.

<div class="song-title" style="font-size: 5vmin">Off and On - 10 years after</div>

In 2011, I re-discovered the earlier demo, and being unhappy with the way the production sounded, I ended up re-recording most of the original music and my vocals. The original tracks outside of the drums were extremely rough due to the limitations of the recording equipment available to me back in 2002. By 2011 digital recording tools had improved drastically and it was much easier to produce quality guitar and bass recordings and tones without an extensive studio setup, which resulted in tossing all the original tracks and re-recording all but Chris' drums.

But again this push, while producing a much better demo, didn't end up going anywhere. There were still a few missing pieces.

In 2015 I started looking at the music again and recorded a couple of additional songs. **Day by Day** was recorded, and a first attempt of lyrics for **Realities of Violence** were made. Again with improvements in recording technologies especially for digital guitar and bass tones, tracks were once again re-recorded and by this time the tracks sounded much closer to the way they were supposed to sound like.

 At this time I had also been talking to Andy and Andy mentioned he really liked **Realities** which still didn't have lyrics. He mentioned that he had lyrics that would work for it. Originally Andy meant those lyrics for me to sing, but I couldn't really make them work, and so the lyrics didn't get used initially. Other life got in the way, and the project once again went quiet for a few  years.

<div class="song-title" style="font-size: 5vmin">Picking up the Pieces</div>

In early 2020 just before Covid-19 hit, I started looking at the music once again. In light of the craziness in the world and the draconian overreach of governments, the theme of the original 'Guilty' songs, plus a few songs I had been noodling with, seemed a fit too perfect to ignore. I ended up finishing several of the new songs that had been piling up and clean up a few additional songs. Out of those sessions several new songs arose: **Change**, **Fear Factory** and **No More Lies** as well as covers for **Organized Crime** by the **UK Subs** and **Protest the Possibilities** which is a medley of a couple of **Discharge** songs. As the new songs were recorded, the production quality was so much better than the older tracks, that I ended up - once again - re-recording large parts of the older tracks and re-mixing all of the previous tracks. 

This resulted in much better overall production and consistency to all of the songs, despite the distinct recording differences between the original live sessions and my recent home studio recordings. While the guitars bass and vocals all sound more uniform in this latest incarnation, due to the fact that the original tracks are with Chris' stylish drum tracks vs. generated drum tracks for the new songs, there's still a distinct two session feel to the 'Guilty' album.

At this point the project finally felt like it was coming together as whole and something worthwhile to actually put out in public.  Guitars, Bass and much of the Vocals were re-recorded during these sessions and Chris' old drum tracks were spruced up a bit with new production tools. 

During this time, Andy also helped out significantly with encouragement to put it out, but also by lending his voice to backups on **Fear Factory** and **Organized Crime** and taking on lead vocals for **Realities of Violence**. That was a welcome surprise, and I'm glad Andy decided be a small part of this recording. Andy had kept reminding me of the missing lyrics to **Realities** and again pushed me to sing the song. Again I tried, but it just didn't sound right with me singing, so after a bit of back and forth with Andy he offered to *show me how it's done*. After recording a rough tack that sounded much better than my vocals, he ended up just singing the track. We ended up using one of the roughs for the final lead vocals on **Realities of Violence**.

The following months Andy also helped with valuable feedback in the mixing and re-mixing process of this music.

<div class="song-title" style="font-size: 5vmin">Finishing Up</div>

In late 2020, the music was for the first time un-officially released to the new [anti-trust.rocks](https://anti-trust.rocks) Web site. I hadn't really shared what I'd been doing with anybody but Andy. Even Chris hadn't heard any of these updates and when I initially contacted him and shared the updated tracks with Chris it was the first for him. All this then resulted in the first unofficial release of the tracks on social media. At this point the cat was out of the bag, even though the release was still not final, these song finally were out in the world for everyone to hear for the first time. I was hoping to get Chris to play drums on some of the newer songs, but unfortunately he'd been tied up between MachineHead and The Boneless Ones with no spare time for this project.

Since that initial unveil there's been some fine tuning of the mixes and music, and several songs were added since then resulting in the final 14 songs released.

Later in 2021 all of the music was made available **for free** as [open source music](https://github.com/RickStrahl/anti-trust-guilty-album), both for online streaming on the [Anti-Trust Web site](https://anti-trust.rocks) or by [downloading of all songs](https://github.com/RickStrahl/anti-trust-guilty-album#download-all-music) from the Web site.

The album was officially released in July of 2021 with the release of an [official CD](https://store.west-wind.com/product/ANTITRUST_GUILTY_CD) and released to [streaming and download services](/stream) in late August. 

**Enjoy!**

            </markdown>
            
    <hr style="margin: 4em 0" />
            </article>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SNCLNZM7P4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SNCLNZM7P4');
</script>

</body>
</html>