@page
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1" />
	<title>Anti-Trust - Guilty! (Punk Rock Music)</title>
	<meta http-equiv="keywords" content="Anti-Trust,Guilty,Punk,Hardcore,Metal,Rock,CrunchCore,Maui,Hawaii,Oakland,SF,Attitude,Attitude Adjustment,Rick Strahl,Chris Kontos,Andy Airborne Andersen,mp3" />
	<meta http-equiv="description" content="Anti-Trust - Guilty: Garage Punk Rock from Maui and Oakland with former members from Attitude Adjustment and Attitude." />
	<link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png" />

	<meta property="og:title" content="Anti-Trust - Guilty" />
	<meta property="og:description" content="Anti-Trust - Guilty: Garage Punk Rock from Maui and Oakland with former members from Attitude Adjustment and Attitude." />    
	<meta property="og:url" content="https://anti-trust.rocks" />
	<meta property="og:type" content="music.album" />
    <meta property="og:music:album" content="Guilty" />
    <meta property="og:music:musician" content="Anti-Trust (Punk Rock Music)" />
	<meta name="twitter:card" content="summary_large_image" />
	
	<!-- 
			1200 x 628 or 1200x1200 
			https://cards-dev.twitter.com/validator
			https://developers.facebook.com/tools/debug/
	-->	
	<meta property="og:image" content="https://anti-trust.rocks/Guilty-Cover-Rectangle-Card.png" />

	  <link rel="stylesheet" href="/album.css?v1.1.5" />
    <link rel="stylesheet" href="/song.css?v1.1.5" />
    <script src="https://kit.fontawesome.com/003736a39d.js" crossorigin="anonymous"></script>
	<script>
        if (location.host == "americanparanoia.com")
        {
            window.location.href="https://anti-trust.rocks";
        }
    </script>
      <style>
        .page-container {
            background-image: url(/albums/guilty/coverImage.jpg);
        }
    </style>
</head>
<body> 
    <div class="toolbarcontainer">
	 	<a href="#divSongTitles" class="hoverbutton" title="Listen to one or all songs on this site"><i class="fas fa-play text-green" style="color: green"></i> Listen</a>        
		<a href="/stream" class="hoverbutton"><i class="fas fa-cloud-music"  style="color: steelblue" title="Stream or buy this album from Spotify, Amazon, Apple Music or YouTube Music"></i> Stream</a>
		<a href="https://github.com/RickStrahl/anti-trust-guilty-album" title="Download the entire album or individual songs for free" class="hoverbutton"><i class="fas fa-cloud-download-alt text-green" style="color: lightgray"></i> Download</a> 
		<a href="https://store.west-wind.com/product/ANTITRUST_GUILTY_CD" class="hoverbutton" title="Buy a CD you can hold in your hands"><i class="fas fa-compact-disc"  style="color: goldenrod"></i> Cd</a> 
		 
        <a href="/t-shirt/README.md" class="hoverbutton hidden-sm" title="Make your own t-shirts or buy one from us"><i class="fas fa-tshirt" style="color: darkgoldenrod"></i> T-Shirts</a> 
		<a href="/about" class="hoverbutton" title="About Anti-Trust and the Guilty Release" title="Find out more about Anti-Trust and the making of 'Guilty'"><i class="fas fa-info-circle" style="color: steelblue"></i> About</a>
    </div>
	
<div class="page-container"></div>

<div class="container" id="Body" style="margin-top: 32%; font-size: 2.6vmin">
   <h1><i class="fad fa-fire"style="color: gold"></i> </i>  Oh shit - what did you do?</h1>
   <hr/>

   <p>
      Something went seriously wrong, here...
   </p>

   <hr />

   <a href="/" style="color: steelblue">Back to safety</a>
</div>


</body>
</html>