html, body{
    background: #000 !important;
    color: white;
    box-sizing: border-box;
    margin: 0; padding: 0;
    height: 100%;
}

.page-container {
    position: fixed;
    width: 100%;
    top: 20px; left:0; right: 0; bottom: 0;
    z-index: 1;
    x-background: url(Guilty-Cover.png);
    background-size: 100%;
    padding: 0;
    background-repeat:  no-repeat; 
    background-color: black;
    opacity: 0.2;

    box-sizing: content-box;

}
.container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 5;
    max-width: 100%;
    box-sizing: content-box;
    background: transparent;

    padding-right: 20px;
}

.song-title  {
    margin-top: 48%;
  font-weight: bold;
  font-size: 9.4vmin;
  font-style: italic;
  color: #ff0000;
  text-shadow: 0.01em 0.01em #656565;
}
.song-info {
    font-size: 4vmin; font-style: italic; color: white;
}
.lyrics {
    font-size: 2.8vmin;
    max-width: 90%;
}
.audio-player {
    font-size: 25vmin;
    color: #ccc;
    margin: 0.3em auto;
    text-align: center;
    display: block;
}
.play-icon:hover {
  color: cornsilk;
  transition: 1s color;
  
}
