@page 

@using Westwind.Utilities

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1" />

    <title>About Anti-Trust - Guilty</title>
    <meta http-equiv="keywords" content="Anti-Trust,Guilty,Punk,Hardcore,Metal,Rock,Maui,Oakland,SF,Attitude,Attitude Adjustment,Rick Strahl,Chris Kontos,Andy Andersen,Andy Airborne" />
    <meta http-equiv="description" content="Anti-Trust - Guilty. Garage Punk Rock from Maui and Oakland with former members from Attitude Adjustment and Attitude." />
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png" />
   
    <meta property="og:title" content="Stream Online - Anti-Trust 'Guilty'" />
    <meta property="og:description" content="List of links to streaming services where you can listen to the Anti-Trust 'Guilty' album online." />    
    <meta property="og:music:album" content="Guilty" />
    <meta property="og:music:musician" content="Anti-Trust (Punk Rock Music)" />
    <meta property="og:url" content="https://anti-trust.rocks/about" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- 
        1200 x 628 or 1200x1200 
        https://cards-dev.twitter.com/validator
        https://developers.facebook.com/tools/debug/
    -->
    <meta property="og:image" content="https://anti-trust.rocks/Guilty-Cover-Rectangle-Card.png" />

    <link rel="stylesheet" href="/album.css?v1.1" />
    <link rel="stylesheet" href="/song.css?v1.1" />
    <script src="https://kit.fontawesome.com/003736a39d.js" crossorigin="anonymous"></script>
    <style>
        .info {
            font-size: 2.7vmin;
            font-weight: 300;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #eee;
        }
        .disabled, .disabled:hover {
            opacity: 0.45;
            cursor: not-allowed;
        }
    </style>
</head>
<body>
    <div class="toolbarcontainer">
        <a href="../" class="hoverbutton"><i class="fas fa-arrow-circle-left" style="color: steelblue"></i> All Songs</a> |        
        <a href="https://github.com/RickStrahl/anti-trust-guilty-album" class="hoverbutton"><i class="fas fa-cloud-download-alt text-green" style="color: steelblue"></i> Free Download</a> |
        <a href="https://store.west-wind.com/product/ANTITRUST_GUILTY_CD" class="hoverbutton"><i class="fas fa-compact-disc"  style="color: goldenrod"></i>
			 Buy CD</a> |
        <a href="/t-shirt" class="hoverbutton"><i class="fas fa-tshirt" style="color: darkgoldenrod"></i> T-Shirts</a> |
        <a href="https://store.west-wind.com/product/order/antitrust_guilty" class="hoverbutton"><i class="fas fa-money-bill-wave" style="color: green"></i> Support us</a>
    </div>
    
    <div class="page-container"></div>


    <style>
        .info a {
            color: steelblue;
            font-weight: 600;
        }
        .buy-button {
            margin: 1em 0;
            display: block;
            max-width: 7em;
            padding: 15px;
            font-size: 6vmin;
        }
    </style>
    <div class="container" id="Body">            
    
        <div style="margin: 40vmin auto; background: transparent;">   

            <div class="song-title" style="font-size: 5.5vmin">Online Streaming Services</div>
            <p>
                You can find us on the following streaming and download services to listen to 'Guilty' online or purchase songs or the entire album.
            </p>
            <article class="info" style="margin-bottom: 5em;">

        <a href="https://open.spotify.com/album/6JFbKFM78oAyW8knhpt2cy" target="_blank" class="buy-button">
			<i class="fab fa-fw fa-spotify text-green" style="color: lightgreen"></i> Spotify
		</a>

        <a href="https://www.amazon.com/gp/product/B09FH7FVYQ/ref=dm_ws_sp_ps_dp" target="_blank" class="buy-button">
			<i class="fab fa-fw fa-amazon" style="color: goldenrod;"></i> Amazon
		</a>

        <a href="/" target="_blank" class="buy-button disabled" onclick="return false;" disabled>
			<i class="fab fa-fw fa-apple" style="color: white;"></i> Apple
		</a>
        
        <a href="https://music.youtube.com/playlist?list=OLAK5uy_lbaXFDxUGTv2CSlDKetFjmnLebVOgkMdw"  target="_blank" class="buy-button">
			<i class="fab fa-fw fa-youtube" style="color: firebrick;"></i> YouTube
		</a>

        <a href="https://store.west-wind.com/product/ANTITRUST_GUILTY_CD"  target="_blank" class="buy-button">
			<i class="fas fa-fw fa-compact-disc" style="color: orange;"></i> Buy from us
		</a>
        
            
    <hr style="margin: 4em 0" />
            </article>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SNCLNZM7P4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SNCLNZM7P4');
</script>

</body>
</html>