<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <!-- ON PRODUCTION SERVERS WHERE YOU DON'T NEED LIVE RELOAD LET IIS/WEB SERVER SERVE STATIC FILES -->          
        <add name="StaticFileModuleHtml" path="*.htm*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleText" path="*.txt" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleSvg" path="*.svg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJs" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleCss" path="*.css" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJpeg" path="*.jpeg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJpg" path="*.jpg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModulePng" path="*.png" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" /> 
        <add name="StaticFileModuleGif" path="*.gif" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleWoff" path="*.woff*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />          

        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers> 
      <aspNetCore processPath="dotnet" hostingModel="InProcess" arguments="..\LiveReloadServer\LiveReloadServer.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNET_ENVIRONMENT" value="Production" />
          <environmentVariable name="LIVERELOADSERVER_WEBROOT" value="C:\users\rstrahl\OneDrive\Web Sites\anti-trust.rocks" />
          <environmentVariable name="LIVERELOADSERVER_USERAZOR" value="True" />
          <environmentVariable name="LIVERELOADSERVER_USEMARKDOWN" value="True" />
          <environmentVariable name="LIVERELOADSERVER_USELIVERELOAD" value="False" />
          <environmentVariable name="LIVERELOADSERVER_OPENBROWSER" value="False" />           
          <environmentVariable name="LIVERELOADSERVER_SHOWCONSOLEOUTPUT" value="False" />     
          <environmentVariable name="LIVERELOADSERVER_DEFAULTFILES" value="index.html,post.md" />        
        </environmentVariables>
         <handlerSettings>
            <handlerSetting name="experimentalEnableShadowCopy" value="true" />
            <handlerSetting name="shadowCopyDirectory" value="../ShadowCopyDirectory/" />                             
        </handlerSettings>
      </aspNetCore>
    </system.webServer>
  </location> 
  <system.webServer>
    <!-- <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="anti-trust.rocks" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="(^anti-trust\.rocks$)|(^antitrust.west-wind.com$)" negate="true" />
          </conditions>
          <action type="Redirect" url="https://anti-trust.rocks/{R:1}" />
        </rule>
      </rules>
    </rewrite> -->
  </system.webServer>
</configuration>
<!--ProjectGuid: 3409CB5D-77AE-4867-9135-A3DE2A134C4D--> 
